html,body{
  height:100%;
}
.container-fluid{
  padding:0 !important;
}
#messagearea{
  margin-bottom:0 !important;
}
#messageCollection{
  overflow-y: auto;
  overflow-x: hidden;
  height:100%;
}
#conversationCollection{
  overflow-y: auto;
  overflow-x: hidden;
  height:100%;
}
.connected{
  color:green;
}
.disconnected{
  color:red;
}
